###**Importing Libraries**

In [262]:
import numpy as np
import pandas as pd

###**Importing dataset**

In [263]:
df = pd.read_csv('glass.csv')

In [264]:
#viewing the dataset
df.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

### **Data Cleaning**

In [265]:
#Checking the Data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   RI      214 non-null    float64
 1   Na      214 non-null    float64
 2   Mg      214 non-null    float64
 3   Al      214 non-null    float64
 4   Si      214 non-null    float64
 5   K       214 non-null    float64
 6   Ca      214 non-null    float64
 7   Ba      214 non-null    float64
 8   Fe      214 non-null    float64
 9   Type    214 non-null    int64
dtypes: float64(9), int64(1)
memory usage: 16.8 KB

There are no null values

In [266]:
#the columns are not on the same scale as the mean values vary from 72.6 to 0.057.they should be on the same scale for smooth convergence
df.describe()

,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

### **Splitting the dataset**

In [267]:
#first splitting the data set into independent and dependent data
x=df.iloc[:,:9].values         #independent 
y=df.iloc[:,9].values          #dependent

In [268]:
#now splittng this dependent and independent data into training and test set

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.20, random_state=None)

In [269]:
#scaling only the independent variables 

from sklearn.preprocessing import StandardScaler

sc=StandardScaler()

x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [271]:
#using distance metrics as square euclidean
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier(n_neighbors=10, p=2, metric='euclidean')

knn.fit(x_train,y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=10)

In [272]:
y_pred=knn.predict(x_test)

In [273]:
from sklearn.metrics import accuracy_score

In [274]:
accuracy_score(y_test, y_pred)

0.7674418604651163

In [275]:
#using distance metrics as manhattan distance
knn = KNeighborsClassifier(n_neighbors=10, p=1, metric='manhattan')

knn.fit(x_train,y_train)

KNeighborsClassifier(metric='manhattan', n_neighbors=10, p=1)

In [276]:
y_pred=knn.predict(x_test)

In [277]:
accuracy_score(y_test, y_pred)

0.7906976744186046